
.box {
  width:400px;
  height:600px;
  position:absolute;
  left:50%;
  top:50%;
  margin: -300px 0 0 -200px;
  background:linear-gradient(0deg,#292d38 56%,transparent),linear-gradient(270deg,#d6d3d6,#6b6b6c);
  border-radius: 6px;
  display: grid;
  
}

.Input {
  width: 200px;
  height: 40px;
  background-color: black;
  border-color: transparent;
  opacity: 0.5;
  font-family: system-ui;
  color: aliceblue;
  font-size: medium;

}

.Button {
  font-Family: system-ui;
  font-size: 15px;
  color: aliceblue;
  text-align: center;
  margin-left: 10px;
}

.bg {
  width: 100%;
  background-image: url(../assets/bg3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}